* {
  padding: 0;
}

.body {
  border-radius: 5px;
  border: 1px solid rgb(84, 64, 38);
  width: 30%;
  margin: 0 auto;
}

.container {
  background-color: antiquewhite;
  display: flex;
  margin: 0 auto;
}

.ul-con {
  background-color: antiquewhite;
  display: flex;
  margin: 0 auto;
}

.to-do-app {
  margin: 0 auto;
}

.to-do-title-con {
  font-size: x-large;
  display: flex;
}

.to-do-title {
  margin: 3rem auto;
}

.need-to-do-con {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.to-do-title,
.need-to-do {
  color: rgb(84, 64, 38);
}

.need-to-do {
  margin-top: 2.5rem;
  justify-content: space-between;
  margin-bottom: 0;
}

.form {
  display: flex;
}

.my-field {
  display: flex;
  margin: 0 auto;
}

.my-lists {
  display: flex;
  margin: 1rem;
  margin-top: 0;
  margin-left: 2rem;
}

.my-list {
  font-weight: bolder;
}

.create-item,
.del-button {
  margin-left: 0.5rem;
  color: #fff;
  background-color: rgb(84, 64, 38);
  padding: 0.02rem 0.2rem;
}

.create-item:hover,
.del-button:hover {
  cursor: pointer;
}
